<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

        <style>
            a {
                color: #fff
            }

            a:hover {
                color: #000;
            }
        </style>
    </head>

    <body>
        {{> abc}}

        <h2>Quản lý đơn hàng</h2>
        <table class="table main-header" style="width: 80%">
            <thead>
                <tr>
                    <th scope="col">Stt</th>
                    <th scope="col">Tên kh</th>
                    <th scope="col">name</th>
                    <th scope="col">anh</th>
                    <th scope="col">số điện thoại</th>
                    <th scope="col">địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">giá</th>
                    <th scope="col">thời gian</th>
                </tr>
            </thead>
            <tbody>
                {{#each dathangs}}
                <tr style="background-color: aquamarine; display: ;">
                    <th scope="row">{{sum @index 1}}</th>
                    {{!-- {{#each sp}} --}}
                    <td>{{this.name}}</td>
                    <td>
                        {{#each sp}}
                        {{name}}
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        {{/each}}
                    </td>
                    <td>
                        {{#each sp}}
                        <img style="width: 100px;" src="/{{images}}" alt>
                        <br>
                        <br>
                        {{/each}}
                    </td>
                    {{!-- {{/each}} --}}
                    <td>{{this.address}}</td>
                    <td>{{this.number}}</td>
                    <input style="display: none;" type="text" name="id_kh" value="{{this.id_kh}}">
                    {{#if active}}
                    <td>Đang giao hàng</td>
                    {{else}}
                    <td>Đéo giao</td>
                    {{/if}}
                    <td id="gia{{this._id}}">{{this.total_price}}</td>
                    <td style="width: 12%;">{{this.createdAt}}</td>
                    <td style="text-align:center;width: 8%;">
                        <a class="btn btn-outline-primary"
                            href="http://localhost:9000/quanlidonhang/{{this._id}}/edit">Edit</a>
                    </td>
                    <td style="text-align:center; width: 8%;">
                        <button type="button" class="btn btn-outline-danger"
                            data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#delete-sanpham-modal">Xóa</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>

</html>