<div class="mt-4">
    <div class="row">
        {{#each sanphams}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                <img src="/images/{{this.images}}" class="card-img-top" alt="{{this.Name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.Name}}</h5>
                    </a>
                    <p class="card-text">{{this.Mota}}</p>
                    <a href="#" class="btn btn-primary">Mua khóa học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>