<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .styled-input {
        font-size: 40px;
        /* Đặt kích thước chữ */
        font-weight: bold;
        /* Đặt độ đậm */
        border: none;
        /* Xóa đường viền */
        outline: none;
        /* Xóa đường viền khi tập trung */
        background-color: transparent;
        /* Xóa nền */
        width: calc(100% - 40px);
    }

    .styled-input:active {
        outline: none;
        border: none;
    }

    .currency {
        color: rgb(235, 169, 28);
        font-weight: 700;
    }
</style>
{{> header}}
<div id="cart_frame" class="Cart_frame" style="margin-top: 8%;">
    {{!-- <div class="Cart_product">
        <table class="table" style=" border-bottom: 1px solid silver;margin:auto">
            <thead class="thead-dark" style="border-bottom: 1px solid color:">
                <th style="text-align:center"></th>
                <th style="text-align:center">Sản Phẩm</th>
                <th style="text-align:center"></th>
                <th style="text-align:center">Giá</th>
                <th style="text-align:center">Số Lượng</th>
                <th style="text-align:center">Tổng</th>
            </thead>
            <tr>
                <td>
                    <div style="margin-right: 10px;">
                        <a href="/Cart/RemoveCart/@item._shopping_Product.Id"><i
                                class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="/{{sanpham.images}}" alt="sanpham" style="width:70px ;height:70px ;">
                    </div>
                </td>
                <td>
                    <div style="width:200px">
                        <h3
                            style="font-size: 30px; font-weight: 100; font-family: Roboto, sans-serif; color: #334862; margin-left: 20px; ">
                            {{sanphams.name}}</h3>
                    </div>
                </td>
                <td>
                    <div style="width:140px">
                        <h3
                            style="font-size: 16px;font-family:Roboto, sans-serif; color: black; font-weight: bold; text-align: center; ">
                            {{sanphams.gia}}₫ </h3>
                    </div>
                </td>
                <td>
                    <div style="width:150px">
                        @using (Html.BeginForm("update", "Cart"))
                        {
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <div>
                                <input type="hidden" value="@item._shopping_Product.Id" name="Id" />
                                <input style="width:20px" type="number" id="tentacles" name="quantity" min="1"
                                    value="@item._shopping_Quantity">
                            </div>
                            <div>
                                <input type="submit" value="update" />
                            </div>
                        </div>
                        }
                    </div>
                </td>
                <td>
                    <div style="width:150px">
                        <h3
                            style="font-size: 16px;font-family:Roboto, sans-serif; color: black; font-weight: bold; text-align: center; ">
                            tổng tiền₫
                        </h3>
                    </div>
                </td>

            </tr>
        </table>
        <tr>
            <div
                style="display: flex; justify-content: space-between; align-items: center; width: 85%; margin: auto; padding: 20px;">
                <div style="display:flex;justify-content:space-between;width:365px">
                    <td>
                        <a href="/TrangChu/Index"
                            style=" padding: 15px 10px; background-color: #fff; border: 2px solid #a8741a;">
                            <h4 style="margin: 0; font-size: 17px; font-weight: bold; color: #a8741a;">Tiếp
                                tục xem sản
                                phẩm</h4>
                        </a>
                    </td>
                    <td>
                        <a onclick="ShowCart()"
                            style=" padding: 15px 10px; background-color: #fff; border: 2px solid #a8741a;cursor:pointer">
                            <h4 style="margin: 0; font-size: 17px; font-weight: bold; color: #a8741a;">Tiến
                                hành đặt
                                hàng</h4>
                        </a>
                    </td>
                </div>
                <td colspan="6">
                    <div style="display: flex;align-items: center;text-align: center;">
                        <h3 style="font-size: 20px; font-weight: 700; color: #a8741a">Tổng
                            tiền:</h3>
                        <p
                            style="font-family: Roboto, sans-serif; color: black; font-weight: bold;; color: black; margin-left: 10px">
                            Tổng tiền tất cả₫</p>
                    </div>
                </td>
            </div>
        </tr>
    </div> --}}

    <div class="card col-10 m-auto">
        <div class="card-header">
            Sản phẩm bạn chọn
        </div>
        {{!-- {{#each sanpham}} --}}
        <table class="table main-header" style="width: 80%">
            <thead>
                <tr>
                    <th scope="col">Stt</th>
                    <th scope="col">anh</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                {{#each giohangs}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td><img style="width: 100px;" src="/{{this.images}}" alt></td>
                    <td>{{this.name}}</td>
                    <td id="gia{{this._id}}">
                        <h6>{{this.total_price}}</h6>
                    </td>
                    <td>
                        <form action="/bagcart/updateQuantity/{{this._id}}?_method=PUT" method="post">
                            <input style="display: none" type="text" name="_id" value="{{this._id}}">
                            <input style="display: none" type="number" name="gia" value="{{this.gia}}">
                            <input type="number" name="quantity" value="{{this.soluong}}">
                            <input type="submit" value="update">
                        </form>
                    </td>
                    <td style="text-align:center; width: 8%;">
                        <button type="button" class="btn btn-outline-danger" data-id="{{this._id}}"
                            data-bs-toggle="modal" data-bs-target="#delete-sanpham-modal">Xóa</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{!-- {{/each}} --}}
        <div
            style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: auto; padding: 20px;">
            <div style="display:flex;justify-content:space-between;width:52%">
                <td>
                    <a href="/" style=" padding: 15px 10px; background-color: #fff; border: 2px solid #a8741a;">
                        <h4 style="margin: 0; font-size: 17px; font-weight: bold; color: #a8741a;">Tiếp tục xem sản phẩm
                        </h4>
                    </a>
                </td>
                <td>
                    <a href="http://localhost:3000/bagcart/donhang"
                        style=" padding: 15px 10px; background-color: #fff; border: 2px solid #a8741a;">
                        <h4 style="margin: 0; font-size: 17px; font-weight: bold; color: #a8741a;">Theo dõi đơn hàng
                        </h4>
                    </a>
                </td>
                <td>
                    <a onclick="ShowCart()"
                        style=" padding: 15px 10px; background-color: #fff; border: 2px solid #a8741a;cursor:pointer">
                        <h4 style="margin: 0; font-size: 17px; font-weight: bold; color: #a8741a;">Tiến
                            hành đặt hàng
                        </h4>
                    </a>
                </td>
            </div>
            <td colspan="6">
                <div style="display: flex;align-items: center;text-align: center;width: 25%;">
                    <h3 style="font-size: 20px; font-weight: 700; color: #a8741a;width: 120%;">Tổng tiền:</h3>
                    <div id="parent_total">
                        {{#each giohangs}}
                        <p id="{{sum @index 1}}"
                            style="font-family: Roboto, sans-serif; color: black; font-weight: bold;; color: black; margin-left: 10px; display:none">
                            {{total 0 this.total_price}}</p>
                        {{/each}}
                    </div>
                    <p
                        style="font-family: Roboto, sans-serif; color: black; font-weight: bold;; color: black; margin-left: 10px;">
                    </p>
                    <div>
                        <input id="total_thanh_toan" class="styled-input currency" type="text"
                            placeholder="không có sản phẩm" name="total_thanh_toan" value="" readonly>
                    </div>
                </div>
            </td>
        </div>
    </div>

    <div id="test" class="testcart" style=" background-color: #fff;">
        <div style=" display: flex;justify-content: space-between;align-items: center;margin-top: 3%;">
            <p style="text-align:center;font-size:24px;font-weight:600;padding-left: 35%;">THÔNG TIN KHÁCH HÀNG</p>
            <button style="margin-right: 2%;border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;" type="button" class="btn btn-outline-danger"
                onclick="CloseCart()">X</button>
        </div>
        <div style="padding: 2%; padding-top: 0px;">
            <form action='/vnpay/create' , method='POST'>
                <label for="tongtienn">Tổng tiền</label>
                <input class="form-control" type="text" id="tongtienn" name="tongtienn" readonly>
                <b>Chọn phương thức thanh toán:</b>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bankCode" id="defaultPaymentMethod" value="1">
                    <label class="form-check-label" for="defaultPaymentMethod">Cổng thanh toán VNPAYQR</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bankCode" id="tienmat" value="3">
                    <label for="tienmat">Tiền mặt</label>
                </div>
                <b>Chọn ngôn ngữ:</b>
                <div class="form-check">
                    <input class="form-check-input" type="radio" , name="language" , id="vnLanguage" , value="vn" ,
                        checked="true">
                    <label for="vnLanguage">Tiếng việt</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" , name="language" , id="enLanguage" , value="en">
                    <label for="enLanguage">Tiếng anh</label>
                </div>
                {{#each giohangs}}
                <input style="display: none;" value="{{this._id}}" name="id">
                {{/each}}
                <tr>
                    <td>
                        <p style="width: 130px; height: 40px;margin-left:773px;margin-top:0px">
                            <input
                                style="width: 130px; height: 40px; background-color: #fff; cursor: pointer; align-items: center; display: flex; justify-content: center; font-size: 17px; font-weight: bold; color: #a8741a; box-shadow: none; border-color: #a8741a "
                                type="submit" value="Đặt Hàng" />
                        </p>
                    </td>
                </tr>
            </form>
        </div>
    </div>
</div>

{{!-- modal xóa --}}
<div class="modal fade" id="delete-sanpham-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-sanpham">Xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-sanpham-form" method="POST" action enctype="multipart/form-data">

    <script>
        var exampleModal = document.getElementById('delete-sanpham-modal')
        var sanphamId
        var deleteForm = document.forms['delete-sanpham-form']
        var btnDeleteSanpham = document.getElementById('btn-delete-sanpham')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            sanphamId = button.getAttribute('data-id')
        })
        btnDeleteSanpham.onclick = function () {
            deleteForm.action = '/bagcart/' + sanphamId + '?_method=DELETE'
            deleteForm.submit()
        }

        let total_thanh_toan = document.getElementById('total_thanh_toan')

        function tong_tien() {
            var parent_total = document.getElementById('parent_total');
            var children_total = parent_total.children;
            var value_child = Array.from(children_total).map(function (child) {
                return child.innerHTML;
            });
            let i = 0
            let totalvcl = 0
            for (i; i < value_child.length; i++) {
                totalvcl += parseInt(value_child[i])
            }
            console.log(totalvcl)
            total_thanh_toan.value = totalvcl
        }
        tong_tien()

        document.getElementById('tongtienn').value = total_thanh_toan.value
    </script>